# exclude from export (github tarball, composer tarball)

# maintenance tools
/.travis.yml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php_cs export-ignore
/appveyor.yml export-ignore

# tests
/phpunit.xml export-ignore
/tests export-ignore
/composer.json export-ignore

# docs
/README.md export-ignore
/COPYING export-ignore
/CHANGELOG.md export-ignore
/AUTHORS export-ignore
